@charset "UTF-8";
:root {
  --primary: #ffde01;
  --dark: #213740;
  --secondary: #1b292e;
  --darkmedium: #2d4349;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Appliquez l'animation à l'élément que vous souhaitez animer */
body.loading {
  animation: fadeIn 1s ease-in-out;
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  color: #1b292e;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
.header {
  background-color: #ffde01;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  text-align: center;
  /* MENU */
}
.header .top-header {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}
.header #triangle-langue {
  display: block;
  position: fixed;
  background-color: #1b292e;
  transform: rotate(45deg);
  z-index: 999;
}
.header .langue {
  display: block;
  -ms-transform: rotate(-45deg); /* Internet Explorer */
  -moz-transform: rotate(-45deg); /* Firefox */
  -webkit-transform: rotate(-45deg); /* Safari et Chrome */
  -o-transform: rotate(-45deg); /* Opera */
}
.header .langue a:link,
.header .langue a:active,
.header .langue a:visited {
  color: #ffde01;
  text-decoration: none;
}
.header .langue a:hover {
  text-shadow: 0 0 5px #fbe864;
}
.header .navigation {
  display: flex;
}
.dark-mode .header .navigation {
  background-color: #1b292e;
}
.dark-mode .header .navigation .menu li a {
  color: #fefdf5;
}
.dark-mode .header .navigation .menu li a::before {
  background-color: #ffde01;
}
.dark-mode .header .navigation .menu li a::after {
  color: #1b292e;
}
.header .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .menu li {
  display: inline-block;
  position: relative;
}
.header .menu li a {
  text-decoration: none;
  color: #1b292e;
  position: relative;
}
.header .menu li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #1b292e;
  transition: transform 0.3s ease-in-out, height 0.3s;
  transform-origin: bottom;
  transform: scaleY(0);
}
.header .menu li a::after {
  content: "\e876";
  font-family: "Material Symbols Outlined", sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ffde01;
  opacity: 0;
  transition: opacity 0.1s;
}
.header .menu li:hover a::before {
  transform: scaleY(1);
  bottom: 0;
}
.header .menu li:hover a::after {
  opacity: 1;
}

/* SWITCHER DARK LIGHT */
.bottom-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-right: 100px;
  height: 30px;
  width: 100%;
  background-color: #1b292e;
}
.dark-mode .bottom-header {
  background-color: #ffde01;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #394d53;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  background-color: #637074;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2d4349;
}

input:focus + .slider {
  box-shadow: 0 0 1px #394d53;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* CONTENT */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefdf5;
}

.intro {
  display: flex;
  flex-direction: row;
}
.intro .photo-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .photo-intro img {
  height: auto;
}
.intro .txt-intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.intro .txt-intro h1 {
  font-family: "Montserrat", sans-serif;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #fefdf5;
  color: #1b292e;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.dark-mode .footer {
  background-color: #1b292e;
  color: #fefdf5;
}

/* HEADER DARK */
.dark-mode {
  background-color: #1b292e;
  color: #ffde01;
  /* Styles pour la balise main en mode sombre */
  /* Styles pour la balise h1 dans .intro en mode sombre */
}
.dark-mode .header {
  background-color: #1b292e;
}
.dark-mode .header .txt-logo {
  color: #ffde01;
  padding-left: 0px;
}
.dark-mode .header .logo img {
  content: url("/../images/JD_logo_yellow.png");
  padding-top: 10px;
}
.dark-mode #triangle-langue {
  background-color: #ffde01;
}
.dark-mode .langue a:link,
.dark-mode .langue a:active,
.dark-mode .langue a:visited {
  color: #1b292e;
}
.dark-mode .langue a:hover {
  text-shadow: 0 0 5px #fefdf5;
}
.dark-mode .main {
  background-color: #1b292e;
}
.dark-mode p {
  color: #fefdf5;
}
.dark-mode .intro .txt-intro h1 {
  color: #ffde01;
}

@media (min-width: 1240px) {
  .navigation {
    margin-left: 150px;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .navigation {
    margin-left: -10px;
  }
}
@media (min-width: 1024px) {
  .top-header {
    max-width: 1240px;
    height: 150px;
  }
  #triangle-langue {
    right: -40px;
    top: -40px;
    width: 80px;
    height: 80px;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .langue {
    display: block;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    padding-top: 4px;
  }
  .langue a:link,
  .langue a:active,
  .langue a:visited {
    font-size: 16px;
  }
  .langue a:hover {
    text-shadow: 0 0 5px #fbe864;
  }
  /* MENU */
  .navigation {
    height: 86px;
  }
  .dark-mode .navigation {
    background-color: #1b292e;
  }
  .dark-mode .navigation .menu li a {
    color: #fefdf5;
  }
  .dark-mode .navigation .menu li a::before {
    background-color: #ffde01;
  }
  .dark-mode .navigation .menu li a::after {
    color: #1b292e;
  }
  .menu li {
    margin: 0 30px;
  }
  .menu li a::before {
    bottom: -62px;
    height: 62px;
  }
  .menu li a::after {
    content: "\e876";
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    color: #ffde01;
    opacity: 0;
    transition: opacity 0.1s;
  }
  .menu li:hover a::before {
    height: 62px;
  }
  /* LOGO */
  .logotext {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height: 150px;
    margin-left: 10px;
  }
  .logo {
    width: 104px;
    height: 71px;
  }
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  .dark-mode .logo {
    width: 103px;
    height: 80px;
    margin-top: -5px;
    margin-right: 7px;
  }
  .dark-mode .logo img {
    width: 100%;
    height: 100%;
  }
  .txt-logo {
    height: 30px;
    padding-left: 5px;
    color: #1b292e;
  }
  .txt-logo .name {
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    padding-top: 9px;
  }
  .txt-logo .surname {
    font-size: 24px;
    font-weight: 500;
  }
  /* SWITCHER DARK LIGHT */
  .bottom-header {
    padding-right: 50px;
    height: 30px;
    width: 100%;
  }
  .dark-mode .bottom-header {
    background-color: #ffde01;
  }
  .switch {
    width: 47px;
    height: 22px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }
  /* CONTENT */
  .intro {
    display: flex;
    flex-direction: row;
  }
  .intro .photo-intro {
    width: 520px;
  }
  .intro .photo-intro img {
    max-width: 64%;
    height: auto;
  }
  .intro .txt-intro {
    width: 560px;
    padding: 20px 80px 40px 80px;
    font-size: 14px;
  }
  .intro .txt-intro h1 {
    font-weight: 500;
    font-size: 1.7em;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ffde01;
    margin-bottom: 10px;
  }
  .intro .txt-intro p {
    border-bottom: 3px solid #ffde01;
    margin-top: 10px;
    padding-bottom: 20px;
    line-height: 1.8em;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .top-header {
    width: 100%;
    height: 120px;
  }
  #triangle-langue {
    right: -35px;
    top: -35px;
    width: 70px;
    height: 70px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .langue {
    display: block;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    padding-top: 4px;
  }
  .langue a:link,
  .langue a:active,
  .langue a:visited {
    font-size: 14px;
  }
  .langue a:hover {
    text-shadow: 0 0 5px #fbe864;
  }
  /* MENU */
  .navigation {
    height: 66px;
    margin-left: 10px;
  }
  .dark-mode .navigation {
    background-color: #1b292e;
  }
  .dark-mode .navigation .menu li a {
    color: #fefdf5;
  }
  .dark-mode .navigation .menu li a::before {
    background-color: #ffde01;
  }
  .dark-mode .navigation .menu li a::after {
    color: #1b292e;
  }
  .menu li {
    margin: 0 20px;
  }
  .menu li a::before {
    bottom: -42px;
    height: 42px;
  }
  .menu li a::after {
    content: "\e876";
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    color: #ffde01;
    opacity: 0;
    transition: opacity 0.1s;
  }
  .menu li:hover a::before {
    height: 42px;
  }
  /* LOGO */
  .logotext {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 140px;
    height: 120px;
    margin-left: 5px;
    padding-top: 20px;
  }
  .logo {
    width: 130px;
    height: 71px;
  }
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  .dark-mode .logo {
    width: 103px;
    height: 80px;
    margin-top: -5px;
    margin-right: 7px;
  }
  .dark-mode .logo img {
    width: 100%;
    height: 100%;
  }
  .txt-logo {
    height: 30px;
    line-height: 20px;
    color: #1b292e;
  }
  .txt-logo .name {
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
  }
  .txt-logo .surname {
    font-size: 17px;
    font-weight: 500;
  }
  /* SWITCHER DARK LIGHT */
  .bottom-header {
    padding-right: 10px;
    height: 30px;
    width: 100%;
  }
  .dark-mode .bottom-header {
    background-color: #ffde01;
  }
  .switch {
    width: 47px;
    height: 22px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }
  /* CONTENT */
  .intro {
    display: flex;
    flex-direction: row;
  }
  .intro .photo-intro {
    width: 340px;
    padding-left: 20px;
  }
  .intro .photo-intro img {
    max-width: 90%;
    height: auto;
  }
  .intro .txt-intro {
    width: 480px;
    padding: 20px 60px 40px 30px;
  }
  .intro .txt-intro h1 {
    font-weight: 500;
    font-size: 1.46em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffde01;
    margin-bottom: 10px;
  }
  .intro .txt-intro p {
    border-bottom: 5px solid #ffde01;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.8em;
  }
}
@media (min-width: 768px) {
  .nav-mobile {
    display: none;
    content: none;
  }
}
@media (min-width: 768px) {
  /* BTN On TOP */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: #0d1416;
    color: #ffde01;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    border: solid 3px #0d1416;
  }
  #myBtn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 44px;
    padding-top: 7px;
  }
  #myBtn:hover {
    background-color: #ffde01;
    color: #0d1416;
  }
  .dark-mode #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0d1416;
    color: #637074;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    border: solid 3px #637074;
  }
  .dark-mode #myBtn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 44px;
    padding-top: 7px;
  }
  .dark-mode #myBtn:hover {
    background-color: #ffde01;
    color: #1b292e;
    border: solid 3px #0d1416;
  }
}
@media (max-width: 767px) {
  .top-header {
    width: 100%;
    height: 120px;
  }
  #triangle-langue {
    right: -35px;
    top: -35px;
    width: 70px;
    height: 70px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .langue {
    display: block;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    padding-top: 4px;
  }
  .langue a:link,
  .langue a:active,
  .langue a:visited {
    font-size: 14px;
  }
  .langue a:hover {
    text-shadow: 0 0 5px #fbe864;
  }
  /* MENU */
  .menu {
    display: none;
  }
  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 999;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
  }
  .sidepanel.open {
    width: 100%;
  }
  .sidepanel a {
    padding: 10px 0px 40px 26px;
    text-decoration: none;
    font-size: 1.2em;
    color: #fefdf5;
    display: block;
    transition: 0.3s;
  }
  .sidepanel a:hover {
    color: #ffde01;
  }
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .openbtn {
    font-size: 36px;
    cursor: pointer;
    background-color: transparent;
    color: #ffde01;
    padding-bottom: 7px;
    border: none;
    z-index: 1000;
  }
  .openbtn:hover {
    background-color: #ffde01;
    color: #1b292e;
  }
  .dark-mode .openbtn {
    color: #1b292e;
  }
  .dark-mode .openbtn:hover {
    color: #ffde01;
    background-color: #1b292e;
  }
  /* LOGO */
  .logotext {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height: 110px;
    margin-left: 10px;
  }
  .logo {
    width: 104px;
    height: 71px;
  }
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  .dark-mode .logo {
    width: 103px;
    height: 80px;
    margin-top: -5px;
    margin-right: 7px;
  }
  .dark-mode .logo img {
    width: 100%;
    height: 100%;
  }
  .txt-logo {
    height: 30px;
    padding-left: 5px;
    color: #1b292e;
  }
  .txt-logo .name {
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    padding-top: 9px;
  }
  .txt-logo .surname {
    font-size: 24px;
    font-weight: 500;
  }
  /* SWITCHER DARK LIGHT */
  .bottom-header {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-right: 10px;
    height: 30px;
    width: 100%;
  }
  .bottom-header .nav-mobile {
    margin-left: auto;
  }
  .dark-mode .bottom-header {
    background-color: #ffde01;
  }
  .switch {
    width: 47px;
    height: 22px;
    margin-left: 10px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }
  /* CONTENT */
  .intro {
    display: flex;
    flex-direction: column;
  }
  .intro .photo-intro {
    display: none;
    content: none;
  }
  .intro .si-photo-intro {
    width: 340px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
  .intro .si-photo-intro img {
    max-width: 80%;
    height: auto;
  }
  .intro .txt-intro {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .intro .txt-intro h1 {
    font-weight: 500;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffde01;
    margin-bottom: 10px;
    text-align: center;
  }
  .intro .txt-intro p {
    border-bottom: 5px solid #ffde01;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.8em;
    margin-bottom: 30px;
  }
  .footer {
    font-size: 0.8em;
  }
  #myBtn {
    display: none;
    content: none;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 100px;
  max-width: 480px;
  margin: auto;
  padding-bottom: 50px;
  text-align: left;
}
.overlay-content label {
  color: #637074;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 10px;
  color: #fefdf5;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ffde01;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  background-color: #2d4349;
  border-left: 1px solid #1b292e;
  border-top: 1px solid #1b292e;
  border-bottom: 1px solid #394d53;
  border-right: 1px solid #1b292e;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1.1em;
  color: #fefdf5;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 2px #0d1416;
  -moz-box-shadow: inset 0 0 2px #0d1416;
  box-shadow: inset 0 0 2px #0d1416;
}

input[type=submit] {
  display: flex;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  background-color: #1b292e;
  color: #637074;
  border: solid 2px #637074;
  border-radius: 6px;
}

input[type=submit]:hover {
  background-color: #1b292e;
  color: #ffde01;
  border: solid 2px #ffde01;
}

@media (min-width: 768px) {
  .contact-mobile {
    display: none;
    content: none;
  }
}
@media (max-width: 767px) {
  .contact-mobile {
    display: flex;
    width: 300px;
    background-color: #1b292e;
    color: #ffde01;
    font-size: 1.3em;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    border: solid 2px transparent;
  }
  .contact-mobile span {
    width: 100%;
    text-align: center;
  }
  .contact-mobile:hover {
    background-color: #ffde01;
    color: #1b292e;
    border: solid 2px #1b292e;
  }
  .dark-mode .contact-mobile {
    background-color: #ffde01;
    color: #1b292e;
  }
}

/*# sourceMappingURL=layout.css.map */
