@import "variables";

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  color: $secondary;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
.header {
  background-color: $primary;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  text-align: center;

  .top-header {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  #triangle-langue {
    display: block;
    position: fixed;
    background-color: $secondary;
    transform: rotate(45deg);
    z-index: 999;
  }

  .langue {
    display: block;
    -ms-transform: rotate(-45deg); /* Internet Explorer */
    -moz-transform: rotate(-45deg); /* Firefox */
    -webkit-transform: rotate(-45deg); /* Safari et Chrome */
    -o-transform: rotate(-45deg); /* Opera */

    a:link,
    a:active,
    a:visited {
      color: $primary;
      text-decoration: none;
    }

    a:hover {
      text-shadow: 0 0 5px $lightmedium;
    }
  }

  /* MENU */
  .navigation {
    display: flex;

    .dark-mode & {
      background-color: $secondary;

      .menu li a {
        color: $superlight;
      }

      .menu li a::before {
        background-color: $primary;
      }

      .menu li a::after {
        color: $secondary;
      }
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    display: inline-block;
    position: relative;
  }

  .menu li a {
    text-decoration: none;
    color: $secondary;
    position: relative;
  }

  .menu li a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $secondary;
    transition: transform 0.3s ease-in-out, height 0.3s;
    transform-origin: bottom;
    transform: scaleY(0);
  }

  .menu li a::after {
    content: "\e876";
    font-family: "Material Symbols Outlined", sans-serif;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    color: $primary;
    opacity: 0;
    transition: opacity 0.1s;
  }

  .menu li:hover a::before {
    transform: scaleY(1);
    bottom: 0;
  }

  .menu li:hover a::after {
    opacity: 1;
  }
}

/* SWITCHER DARK LIGHT */
.bottom-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-right: 100px;
  height: 30px;
  width: 100%;
  background-color: $secondary;

  .dark-mode & {
    background-color: $primary;
  }
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $darklight;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  background-color: $darkextralight;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $darkmedium;
}

input:focus + .slider {
  box-shadow: 0 0 1px $darklight;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* CONTENT */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $superlight;
}

.intro {
  display: flex;
  flex-direction: row;

  .photo-intro {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: auto;
    }
  }

  .txt-intro {
    display: flex;
    flex-direction: column;

    text-align: justify;

    h1 {
      font-family: "Montserrat", sans-serif;
    }
  }
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $superlight;
  color: $secondary;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.dark-mode .footer {
  background-color: $secondary;
  color: $superlight;
}

//////////* DARK mode  *//////////
/* HEADER DARK */
/* Styles pour le mode sombre */
.dark-mode {
  background-color: $secondary;
  color: $primary;

  .header {
    background-color: $secondary;

    .txt-logo {
      color: $primary;
      padding-left: 0px;
    }

    .logo img {
      content: url("/../images/JD_logo_yellow.png");
      padding-top: 10px;
    }
  }

  #triangle-langue {
    background-color: $primary;
  }

  .langue a:link,
  .langue a:active,
  .langue a:visited {
    color: $secondary;
  }

  .langue a:hover {
    text-shadow: 0 0 5px $superlight;
  }

  /* Styles pour la balise main en mode sombre */
  .main {
    background-color: $secondary; // Changer la couleur de fond en mode sombre
  }

  p {
    // Styles par défaut pour les paragraphes en mode sombre
    color: $superlight;
  }

  /* Styles pour la balise h1 dans .intro en mode sombre */
  .intro .txt-intro h1 {
    color: $primary;
  }
}

////// RESPONSIVE /////////
////// RESPONSIVE /////////
////// RESPONSIVE /////////
////// Responsive  Min 1240px /////////
@media (min-width: 1240px) {
  // Header //
  .navigation {
    margin-left: 150px;
  }

  // Skills //
  // Portfolio //
}

////// Responsive  Min 1024px - Max 1239px /////////
@media (min-width: 1024px) and (max-width: 1239px) {
  // Header //
  .navigation {
    margin-left: -10px;
  }
  // Skills //
  // Portfolio //
}

////// Responsive  Min 1024px /////////
@media (min-width: 1024px) {
  // Header //
  .top-header {
    max-width: 1240px;
    height: 150px;
  }

  #triangle-langue {
    right: -40px;
    top: -40px;
    width: 80px;
    height: 80px;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .langue {
    display: block;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    padding-top: 4px;

    a:link,
    a:active,
    a:visited {
      font-size: 16px;
    }

    a:hover {
      text-shadow: 0 0 5px $lightmedium;
    }
  }

  /* MENU */
  .navigation {
    height: 86px;

    .dark-mode & {
      background-color: $secondary;

      .menu li a {
        color: $superlight;
      }

      .menu li a::before {
        background-color: $primary;
      }

      .menu li a::after {
        color: $secondary;
      }
    }
  }

  .menu li {
    margin: 0 30px;
  }

  .menu li a::before {
    bottom: -62px;
    height: 62px;
  }

  .menu li a::after {
    content: "\e876";
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(100% - -20px);
    left: 50%;
    transform: translateX(-50%);
    color: $primary;
    opacity: 0;
    transition: opacity 0.1s;
  }

  .menu li:hover a::before {
    height: 62px;
  }

  /* LOGO */
  .logotext {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height: 150px;
    margin-left: 10px;
  }

  .logo {
    width: 104px;
    height: 71px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .txt-logo {
    height: 30px;
    padding-left: 5px;
    color: $secondary;

    .name {
      font-family: "Comfortaa", sans-serif;
      font-size: 20px;
      padding-top: 9px;
    }

    .surname {
      font-size: 24px;
      font-weight: 500;
    }
  }

  /* SWITCHER DARK LIGHT */
  .bottom-header {
    padding-right: 50px;
    height: 30px;
    width: 100%;

    .dark-mode & {
      background-color: $primary;
    }
  }

  .switch {
    width: 47px;
    height: 22px;
  }

  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }

  /* CONTENT */

  .intro {
    display: flex;
    flex-direction: row;

    .photo-intro {
      width: 520px;

      img {
        max-width: 64%;
        height: auto;
      }
    }

    .txt-intro {
      width: 560px;
      padding: 20px 80px 40px 80px;
      font-size: 14px;

      h1 {
        font-weight: 500;
        font-size: 1.7em;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 3px solid $primary;
        margin-bottom: 10px;
      }

      p {
        border-bottom: 3px solid $primary;
        margin-top: 10px;
        padding-bottom: 20px;
        line-height: 1.8em;
      }
    }
  }
}

////// Responsive  Min 768px -  Max 1023px /////////
@media (min-width: 768px) and (max-width: 1023px) {
  // Header //

  .top-header {
    width: 100%;
    height: 120px;
  }

  #triangle-langue {
    right: -35px;
    top: -35px;
    width: 70px;
    height: 70px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .langue {
    display: block;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    padding-top: 4px;

    a:link,
    a:active,
    a:visited {
      font-size: 14px;
    }

    a:hover {
      text-shadow: 0 0 5px $lightmedium;
    }
  }

  /* MENU */
  .navigation {
    height: 66px;
    margin-left: 10px;

    .dark-mode & {
      background-color: $secondary;

      .menu li a {
        color: $superlight;
      }

      .menu li a::before {
        background-color: $primary;
      }

      .menu li a::after {
        color: $secondary;
      }
    }
  }

  .menu li {
    margin: 0 20px;
  }

  .menu li a::before {
    bottom: -42px;
    height: 42px;
  }

  .menu li a::after {
    content: "\e876";
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(100% - -10px);
    left: 50%;
    transform: translateX(-50%);
    color: $primary;
    opacity: 0;
    transition: opacity 0.1s;
  }

  .menu li:hover a::before {
    height: 42px;
  }

  /* LOGO */
  .logotext {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 140px;
    height: 120px;
    margin-left: 5px;
    padding-top: 20px;
  }

  .logo {
    width: 130px;
    height: 71px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .txt-logo {
    height: 30px;
    line-height: 20px;
    color: $secondary;

    .name {
      font-family: "Comfortaa", sans-serif;
      font-size: 14px;
    }

    .surname {
      font-size: 17px;
      font-weight: 500;
    }
  }

  /* SWITCHER DARK LIGHT */
  .bottom-header {
    padding-right: 10px;
    height: 30px;
    width: 100%;

    .dark-mode & {
      background-color: $primary;
    }
  }

  .switch {
    width: 47px;
    height: 22px;
  }

  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }

  // Intro //
  /* CONTENT */

  .intro {
    display: flex;
    flex-direction: row;

    .photo-intro {
      width: 340px;
      padding-left: 20px;

      img {
        max-width: 90%;
        height: auto;
      }
    }

    .txt-intro {
      width: 480px;
      padding: 20px 60px 40px 30px;

      h1 {
        font-weight: 500;
        font-size: 1.46em;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 5px solid $primary;
        margin-bottom: 10px;
      }

      p {
        border-bottom: 5px solid $primary;
        margin-top: 10px;
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 1.8em;
      }
    }
  }
  // Skills //
  // Portfolio //
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
    content: none;
  }
}

@media (min-width: 768px) {
  /* BTN On TOP */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: $superdark;
    color: $primary;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    border: solid 3px $superdark;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      font-size: 44px;
      padding-top: 7px;
    }
  }

  #myBtn:hover {
    background-color: $primary;
    color: $superdark;
  }

  .dark-mode #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $superdark;
    color: $darkextralight;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    border: solid 3px $darkextralight;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      font-size: 44px;
      padding-top: 7px;
    }
  }

  .dark-mode #myBtn:hover {
    background-color: $primary;
    color: $secondary;
    border: solid 3px $superdark;
  }
}

////// Responsive  Max 767px /////////
@media (max-width: 767px) {
  .top-header {
    width: 100%;
    height: 120px;
  }

  #triangle-langue {
    right: -35px;
    top: -35px;
    width: 70px;
    height: 70px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .langue {
    display: block;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    padding-top: 4px;

    a:link,
    a:active,
    a:visited {
      font-size: 14px;
    }

    a:hover {
      text-shadow: 0 0 5px $lightmedium;
    }
  }

  /* MENU */
  .menu {
    display: none;
  }

  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 999;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
  }

  .sidepanel.open {
    width: 100%;
  }
  .sidepanel a {
    padding: 10px 0px 40px 26px;
    text-decoration: none;
    font-size: 1.2em;
    color: $superlight;
    display: block;
    transition: 0.3s;
  }

  .sidepanel a:hover {
    color: $primary;
  }

  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .openbtn {
    font-size: 36px;
    cursor: pointer;
    background-color: transparent;
    color: $primary;
    padding-bottom: 7px;
    border: none;
    z-index: 1000;
  }

  .openbtn:hover {
    background-color: $primary;
    color: $secondary;
  }

  .dark-mode .openbtn {
    color: $secondary;
  }

  .dark-mode .openbtn:hover {
    color: $primary;
    background-color: $secondary;
  }

  /* LOGO */
  .logotext {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height: 110px;
    margin-left: 10px;
  }

  .logo {
    width: 104px;
    height: 71px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .txt-logo {
    height: 30px;
    padding-left: 5px;
    color: $secondary;

    .name {
      font-family: "Comfortaa", sans-serif;
      font-size: 20px;
      padding-top: 9px;
    }

    .surname {
      font-size: 24px;
      font-weight: 500;
    }
  }

  /* SWITCHER DARK LIGHT */
  .bottom-header {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-right: 10px;
    height: 30px;
    width: 100%;

    .nav-mobile {
      margin-left: auto;
      color: green; // Couleur du texte par défaut
    }

    .dark-mode {
      /* Modifier les couleurs pour le mode sombre */
      .nav-mobile {
        color: pink; /* Changer la couleur du texte en mode sombre */
      }
    }

    .dark-mode & {
      background-color: $primary;
    }
  }

  .switch {
    width: 47px;
    height: 22px;
    margin-left: 10px;
  }

  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }

  // Intro //
  /* CONTENT */

  .intro {
    display: flex;
    flex-direction: column;

    .photo-intro {
      display: none;
      content: none;
    }
    .si-photo-intro {
      width: 340px;
      padding-left: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;

      img {
        max-width: 80%;
        height: auto;
      }
    }

    .txt-intro {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;

      h1 {
        font-weight: 500;
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 5px solid $primary;
        margin-bottom: 10px;
        text-align: center;
      }

      p {
        border-bottom: 5px solid $primary;
        margin-top: 10px;
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 1.8em;
        margin-bottom: 30px;
      }
    }
  }

  .footer {
    font-size: 0.8em;
  }

  #myBtn {
    display: none;
    content: none;
  }
}

// Contact Form //

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #da0f0f;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
