@charset "UTF-8";
:root {
  --primary: #ffde01;
  --dark: #213740;
  --secondary: #1b292e;
  --darkmedium: #2d4349;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #ffde01;
  --dark: #213740;
  --secondary: #1b292e;
  --darkmedium: #2d4349;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body.loading {
  animation: fadeIn 1s ease-in-out;
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  color: #1b292e;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
.header {
  background-color: #ffde01;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  text-align: center;
  /* MENU */
}
.header .top-header {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}
.header #triangle-langue {
  display: block;
  position: fixed;
  background-color: #1b292e;
  transform: rotate(45deg);
  z-index: 999;
}
.header .langue {
  display: block;
  -ms-transform: rotate(-45deg); /* Internet Explorer */
  -moz-transform: rotate(-45deg); /* Firefox */
  -webkit-transform: rotate(-45deg); /* Safari et Chrome */
  -o-transform: rotate(-45deg); /* Opera */
}
.header .langue a:link,
.header .langue a:active,
.header .langue a:visited {
  color: #ffde01;
  text-decoration: none;
}
.header .langue a:hover {
  text-shadow: 0 0 5px #fbe864;
}
.header .navigation {
  display: flex;
}
.dark-mode .header .navigation {
  background-color: #1b292e;
}
.dark-mode .header .navigation .menu li a {
  color: #fefdf5;
}
.dark-mode .header .navigation .menu li a::before {
  background-color: #ffde01;
}
.dark-mode .header .navigation .menu li a::after {
  color: #1b292e;
}
.header .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .menu li {
  display: inline-block;
  position: relative;
}
.header .menu li a {
  text-decoration: none;
  color: #1b292e;
  position: relative;
}
.header .menu li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #1b292e;
  transition: transform 0.3s ease-in-out, height 0.3s;
  transform-origin: bottom;
  transform: scaleY(0);
}
.header .menu li a::after {
  content: "\e876";
  font-family: "Material Symbols Outlined", sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ffde01;
  opacity: 0;
  transition: opacity 0.1s;
}
.header .menu li:hover a::before {
  transform: scaleY(1);
  bottom: 0;
}
.header .menu li:hover a::after {
  opacity: 1;
}

/* SWITCHER DARK LIGHT */
.bottom-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-right: 100px;
  height: 30px;
  width: 100%;
  background-color: #1b292e;
}
.dark-mode .bottom-header {
  background-color: #ffde01;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #637074;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  background-color: #aab2b5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2d4349;
}

input:focus + .slider {
  box-shadow: 0 0 1px #394d53;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* CONTENT */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefdf5;
}

.intro {
  display: flex;
  flex-direction: row;
}
.intro .photo-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .photo-intro img {
  height: auto;
}
.intro .txt-intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.intro .txt-intro h1 {
  font-family: "Montserrat", sans-serif;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #fefdf5;
  color: #1b292e;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.dark-mode .footer {
  background-color: #1b292e;
  color: #fefdf5;
}

/* HEADER DARK */
.dark-mode {
  background-color: #1b292e;
  color: #ffde01;
  /* Styles pour la balise main en mode sombre */
  /* Styles pour la balise h1 dans .intro en mode sombre */
}
.dark-mode .header {
  background-color: #1b292e;
}
.dark-mode .header .txt-logo {
  color: #ffde01;
  padding-left: 0px;
}
.dark-mode .header .logo img {
  content: url("/../images/JD_logo_yellow.png");
  padding-top: 10px;
}
.dark-mode #triangle-langue {
  background-color: #ffde01;
}
.dark-mode .langue a:link,
.dark-mode .langue a:active,
.dark-mode .langue a:visited {
  color: #1b292e;
}
.dark-mode .langue a:hover {
  text-shadow: 0 0 5px #fefdf5;
}
.dark-mode .main {
  background-color: #1b292e;
}
.dark-mode p {
  color: #ffffff;
}
.dark-mode .intro .txt-intro h1 {
  color: #ffde01;
}

@media (min-width: 1240px) {
  .navigation {
    margin-left: 150px;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .navigation {
    margin-left: -10px;
  }
}
@media (min-width: 1024px) {
  .top-header {
    max-width: 1240px;
    height: 150px;
  }
  #triangle-langue {
    right: -40px;
    top: -40px;
    width: 80px;
    height: 80px;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .langue {
    display: block;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    padding-top: 4px;
  }
  .langue a:link,
  .langue a:active,
  .langue a:visited {
    font-size: 16px;
  }
  .langue a:hover {
    text-shadow: 0 0 5px #fbe864;
  }
  /* MENU */
  .navigation {
    height: 86px;
  }
  .dark-mode .navigation {
    background-color: #1b292e;
  }
  .dark-mode .navigation .menu li a {
    color: #fefdf5;
  }
  .dark-mode .navigation .menu li a::before {
    background-color: #ffde01;
  }
  .dark-mode .navigation .menu li a::after {
    color: #1b292e;
  }
  .menu li {
    margin: 0 30px;
  }
  .menu li a::before {
    bottom: -63px;
    height: 63px;
  }
  .menu li a::after {
    content: "\e876";
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    color: #ffde01;
    opacity: 0;
    transition: opacity 0.1s;
  }
  .menu li:hover a::before {
    height: 63px;
  }
  /* LOGO */
  .logotext {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height: 150px;
    margin-left: 10px;
  }
  .logo {
    width: 104px;
    height: 71px;
  }
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  .dark-mode .logo {
    width: 103px;
    height: 80px;
    margin-top: -5px;
    margin-right: 7px;
  }
  .dark-mode .logo img {
    width: 100%;
    height: 100%;
  }
  .txt-logo {
    height: 30px;
    padding-left: 5px;
    color: #1b292e;
  }
  .txt-logo .name {
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    padding-top: 9px;
  }
  .txt-logo .surname {
    font-size: 24px;
    font-weight: 500;
  }
  /* SWITCHER DARK LIGHT */
  .bottom-header {
    padding-right: 50px;
    height: 30px;
    width: 100%;
  }
  .dark-mode .bottom-header {
    background-color: #ffde01;
  }
  .switch {
    width: 47px;
    height: 22px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }
  /* CONTENT */
  .intro {
    display: flex;
    flex-direction: row;
  }
  .intro .photo-intro {
    width: 520px;
  }
  .intro .photo-intro img {
    max-width: 64%;
    height: auto;
  }
  .intro .txt-intro {
    width: 560px;
    padding: 20px 80px 40px 80px;
    font-size: 14px;
  }
  .intro .txt-intro h1 {
    font-weight: 500;
    font-size: 1.7em;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ffde01;
    margin-bottom: 10px;
  }
  .intro .txt-intro p {
    border-bottom: 3px solid #ffde01;
    margin-top: 10px;
    padding-bottom: 20px;
    line-height: 1.8em;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .top-header {
    width: 100%;
    height: 120px;
  }
  #triangle-langue {
    right: -35px;
    top: -35px;
    width: 70px;
    height: 70px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .langue {
    display: block;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    padding-top: 4px;
  }
  .langue a:link,
  .langue a:active,
  .langue a:visited {
    font-size: 14px;
  }
  .langue a:hover {
    text-shadow: 0 0 5px #fbe864;
  }
  /* MENU */
  .navigation {
    height: 66px;
    margin-left: 10px;
  }
  .dark-mode .navigation {
    background-color: #1b292e;
  }
  .dark-mode .navigation .menu li a {
    color: #fefdf5;
  }
  .dark-mode .navigation .menu li a::before {
    background-color: #ffde01;
  }
  .dark-mode .navigation .menu li a::after {
    color: #1b292e;
  }
  .menu li {
    margin: 0 20px;
  }
  .menu li a::before {
    bottom: -42px;
    height: 42px;
  }
  .menu li a::after {
    content: "\e876";
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    color: #ffde01;
    opacity: 0;
    transition: opacity 0.1s;
  }
  .menu li:hover a::before {
    height: 42px;
  }
  /* LOGO */
  .logotext {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 140px;
    height: 120px;
    margin-left: 5px;
    padding-top: 20px;
  }
  .logo {
    width: 130px;
    height: 71px;
  }
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  .dark-mode .logo {
    width: 103px;
    height: 80px;
    margin-top: -5px;
    margin-right: 7px;
  }
  .dark-mode .logo img {
    width: 100%;
    height: 100%;
  }
  .txt-logo {
    height: 30px;
    line-height: 20px;
    color: #1b292e;
  }
  .txt-logo .name {
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
  }
  .txt-logo .surname {
    font-size: 17px;
    font-weight: 500;
  }
  /* SWITCHER DARK LIGHT */
  .bottom-header {
    padding-right: 10px;
    height: 30px;
    width: 100%;
  }
  .dark-mode .bottom-header {
    background-color: #ffde01;
  }
  .switch {
    width: 47px;
    height: 22px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }
  /* CONTENT */
  .intro {
    display: flex;
    flex-direction: row;
  }
  .intro .photo-intro {
    width: 340px;
    padding-left: 20px;
  }
  .intro .photo-intro img {
    max-width: 90%;
    height: auto;
  }
  .intro .txt-intro {
    width: 480px;
    padding: 20px 60px 40px 30px;
  }
  .intro .txt-intro h1 {
    font-weight: 500;
    font-size: 1.46em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffde01;
    margin-bottom: 10px;
  }
  .intro .txt-intro p {
    border-bottom: 5px solid #ffde01;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.8em;
  }
}
@media (min-width: 768px) {
  .nav-mobile {
    display: none;
    content: none;
  }
}
@media (min-width: 768px) {
  /* BTN On TOP */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 20;
    border: none;
    outline: none;
    background: #0d1416;
    color: #ffde01;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    border: solid 3px #0d1416;
  }
  #myBtn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 44px;
    padding-top: 7px;
  }
  #myBtn:hover {
    background-color: #ffde01;
    color: #0d1416;
  }
  .dark-mode #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0d1416;
    color: #637074;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    border: solid 3px #637074;
  }
  .dark-mode #myBtn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 44px;
    padding-top: 7px;
  }
  .dark-mode #myBtn:hover {
    background-color: #ffde01;
    color: #1b292e;
    border: solid 3px #0d1416;
  }
}
@media (max-width: 767px) {
  .top-header {
    width: 100%;
    height: 120px;
  }
  #triangle-langue {
    right: -35px;
    top: -35px;
    width: 70px;
    height: 70px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .langue {
    display: block;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    padding-top: 4px;
  }
  .langue a:link,
  .langue a:active,
  .langue a:visited {
    font-size: 14px;
  }
  .langue a:hover {
    text-shadow: 0 0 5px #fbe864;
  }
  /* MENU */
  .menu {
    display: none;
  }
  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 999;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
  }
  .sidepanel.open {
    width: 100%;
  }
  .sidepanel a {
    padding: 10px 0px 40px 26px;
    text-decoration: none;
    font-size: 1.2em;
    color: #fefdf5;
    display: block;
    transition: 0.3s;
  }
  .sidepanel a:hover {
    color: #ffde01;
  }
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .openbtn {
    cursor: pointer;
    background-color: transparent;
    color: #ffde01;
    border: none;
    z-index: 1000;
    margin-top: 4px;
  }
  .openbtn:hover {
    background-color: #ffde01;
    color: #1b292e;
  }
  .dark-mode .openbtn {
    color: #1b292e;
  }
  .dark-mode .openbtn:hover {
    color: #ffde01;
    background-color: #1b292e;
  }
  /* LOGO */
  .logotext {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height: 110px;
    margin-left: 10px;
  }
  .logo {
    width: 104px;
    height: 71px;
  }
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  .dark-mode .logo {
    width: 103px;
    height: 80px;
    margin-top: -5px;
    margin-right: 7px;
  }
  .dark-mode .logo img {
    width: 100%;
    height: 100%;
  }
  .txt-logo {
    height: 30px;
    padding-left: 5px;
    color: #1b292e;
  }
  .txt-logo .name {
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    padding-top: 9px;
  }
  .txt-logo .surname {
    font-size: 24px;
    font-weight: 500;
  }
  /* SWITCHER DARK LIGHT */
  .bottom-header {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-right: 10px;
    height: 30px;
    width: 100%;
  }
  .bottom-header .nav-mobile {
    margin-left: auto;
  }
  .dark-mode .bottom-header {
    background-color: #ffde01;
  }
  .switch {
    width: 47px;
    height: 22px;
    margin-left: 10px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }
  /* CONTENT */
  .intro {
    display: flex;
    flex-direction: column;
  }
  .intro .photo-intro {
    display: none;
    content: none;
  }
  .intro .si-photo-intro {
    width: 340px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
  .intro .si-photo-intro img {
    max-width: 80%;
    height: auto;
  }
  .intro .txt-intro {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .intro .txt-intro h1 {
    font-weight: 500;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffde01;
    margin-bottom: 10px;
    text-align: center;
  }
  .intro .txt-intro p {
    border-bottom: 5px solid #ffde01;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.8em;
    margin-bottom: 30px;
  }
  .footer {
    font-size: 0.8em;
  }
  #myBtn {
    display: none;
    content: none;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 100px;
  margin: auto;
  padding-bottom: 50px;
  text-align: left;
}
.overlay-content label {
  color: #ffffff;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 10px;
  color: #fefdf5;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ffde01;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  background-color: #2d4349;
  border-left: 1px solid #1b292e;
  border-top: 1px solid #1b292e;
  border-bottom: 1px solid #394d53;
  border-right: 1px solid #1b292e;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1.1em;
  color: #fefdf5;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 2px #0d1416;
  -moz-box-shadow: inset 0 0 2px #0d1416;
  box-shadow: inset 0 0 2px #0d1416;
}

input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  background-color: #1b292e;
  color: #637074;
  border: solid 2px #637074;
  border-radius: 6px;
}

input[type=submit]:hover {
  background-color: #1b292e;
  color: #ffde01;
  border: solid 2px #ffde01;
}

@media (min-width: 768px) {
  .overlay-content {
    position: relative;
    top: 100px;
    max-width: 480px;
    margin: auto;
    padding-bottom: 50px;
    text-align: left;
  }
  .contact-mobile {
    display: none;
    content: none;
  }
}
@media (max-width: 767px) {
  .overlay-content {
    position: relative;
    top: 100px;
    max-width: 280px;
    margin: auto;
    padding-bottom: 50px;
    text-align: left;
  }
  .contact-mobile {
    display: flex;
    width: 300px;
    background-color: #1b292e;
    color: #ffde01;
    font-size: 1.3em;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    border: solid 2px transparent;
  }
  .contact-mobile span {
    width: 100%;
    text-align: center;
  }
  .contact-mobile:hover {
    background-color: #ffde01;
    color: #1b292e;
    border: solid 2px #1b292e;
  }
  .dark-mode .contact-mobile {
    background-color: #ffde01;
    color: #1b292e;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:root {
  --primary: #ffde01;
  --dark: #213740;
  --secondary: #1b292e;
  --darkmedium: #2d4349;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.portfolio {
  background-color: #ffde01;
}
.portfolio h2 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: #1b292e;
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #fbe864;
  border: solid 1px #fefdf5;
  border-radius: 6px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* Style the buttons */
.btn-container {
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  background-color: #eecf00;
  color: #1b292e;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1b292e;
  color: #fefdf5;
}

.btn.active {
  background-color: #1b292e;
  color: #fefdf5;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

/* Caption of Modal Image */
#modalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #fefdf5;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#modalCaption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/* Dark Mode */
.dark-mode .portfolio {
  background-color: #213740;
}
.dark-mode .portfolio h2 {
  color: #ffde01;
}

.dark-mode .portfolio-header {
  background-color: #1b292e;
  border: solid 1px #2d4349;
}

.dark-mode .btn {
  background-color: #0d1416;
  color: #fefdf5;
}

.dark-mode .btn:hover {
  background-color: teal;
  color: #fefdf5;
}

.btn.active {
  background-color: #1b292e;
  color: #fefdf5;
}

.dark-mode .btn.active {
  background-color: #ffde01;
  color: #1b292e;
}

@media (min-width: 1240px) {
  .portfolio h2 {
    max-width: 1140px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.7em;
  }
  .portfolio-header {
    max-width: 1140px;
    margin-bottom: 50px;
    padding: 20px;
  }
  .row {
    max-width: 1140px;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .portfolio h2 {
    max-width: 960px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.7em;
  }
  .portfolio-header {
    max-width: 960px;
    margin-bottom: 50px;
    padding: 20px;
  }
  .row {
    max-width: 1140px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio h2 {
    max-width: 720px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.7em;
  }
  .portfolio-header {
    max-width: 720px;
    margin-bottom: 50px;
    padding: 20px;
  }
  .row {
    max-width: 1140px;
  }
}
@media (min-width: 490px) {
  /* Style the buttons */
  .btn-container {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .btn {
    padding: 12px 16px;
    margin: 0 8px;
  }
}
@media (max-width: 489px) {
  /* Style the buttons */
  .btn-container {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .btn {
    min-width: 100px;
    padding: 16px 18px;
    margin: 6px 6px;
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .portfolio h2 {
    max-width: 90%;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
  }
  .portfolio-header {
    max-width: 90%;
    margin-bottom: 50px;
    padding: 20px;
  }
  .row {
    max-width: 90%;
  }
}
:root {
  --primary: #ffde01;
  --dark: #213740;
  --secondary: #1b292e;
  --darkmedium: #2d4349;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* SKILLS Je travaille avec */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffde01;
}
.skills-section h2 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
}
.skills-section .skills-tab {
  display: flex;
  flex-direction: column;
  background-color: #fefdf5;
  border: solid 1px #2d4349;
}
.skills-section .skills-row-A {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.skills-section .skills-row-B {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.skills-section .flip-box {
  background-color: transparent;
}
.skills-section .flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.skills-section .flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.skills-section .flip-box-front,
.skills-section .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.skills-section .flip-box-front {
  background-color: #1b292e;
  color: black;
  cursor: pointer;
}
.skills-section .flip-box-back {
  background-color: #213740;
  color: #fefdf5;
  transform: rotateY(180deg);
  cursor: pointer;
}
.skills-section .flip-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 10px;
}

/* Styles pour les barres de compétences */
.skill-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fefdf5;
}
.skill-bar h3 {
  color: #1b292e;
  font-size: 1em;
}
.skill-bar h3 span {
  color: #fefdf5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.dark-mode .skill-bar {
  background-color: #1b292e;
}

.dark-mode .skill-bar h3 {
  color: #fefdf5 !important;
  font-size: 1em;
}
.dark-mode .skill-bar h3 span {
  color: #fefdf5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.wrap {
  max-width: 70%;
}

/* Styles pour les barres de compétences */
.bar {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

/* Styles pour les barres de progression */
.bar .thumb {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 18px;
  background-color: #f4f1de;
  border: solid 1px #e7e4d1;
  border-radius: 2px;
  margin-top: 10px;
}

.dark-mode .bar .thumb {
  background-color: #1e3239;
  border: solid 1px #2d4349;
}

.dark-mode .bar .thumb span {
  background: #ffde01;
  border: solid 1px #2d4349;
}

/* Styles pour les éléments de remplissage des barres */
.bar .thumb span {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2px;
  background: #ffde01;
  border: solid 1px #e7e4d1;
}

.bar:nth-child(1) span {
  width: 90%;
}

.bar:nth-child(2) span {
  width: 85%;
}

.bar:nth-child(3) span {
  width: 60%;
}

.bar:nth-child(4) span {
  width: 80%;
}

.bar:nth-child(5) span {
  width: 90%;
}

.bar:nth-child(6) span {
  width: 70%;
}

.bar:nth-child(7) span {
  width: 85%;
}

.bar:nth-child(8) span {
  width: 90%;
}

/* Styles pour les abbr */
.bar abbr {
  width: 40px;
  display: inline-block;
  height: 28px;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 30px;
  margin-left: -5px;
  z-index: 1;
  background: #1b292e;
  font-size: 0.7em;
  line-height: 2.3em;
  border: solid 1px #637074;
}

/* Définissez la position des éléments abbr en fonction de leur pourcentage */
.bar:nth-child(1) abbr {
  left: 90%;
}

.bar:nth-child(2) abbr {
  left: 85%;
}

.bar:nth-child(3) abbr {
  left: 60%;
}

.bar:nth-child(4) abbr {
  left: 80%;
}

.bar:nth-child(5) abbr {
  left: 90%;
}

.bar:nth-child(6) abbr {
  left: 70%;
}

.bar:nth-child(7) abbr {
  left: 85%;
}

.bar:nth-child(8) abbr {
  left: 90%;
}

@media (min-width: 1240px) {
  .skills-section {
    height: 580px;
    padding-top: 40px;
  }
  .skills-section h2 {
    width: 1140px;
    font-size: 1.7em;
    padding-bottom: 10px;
  }
  .skills-section .skills-tab {
    width: 1140px;
    height: 404px;
    padding: 30px;
  }
  .skills-section .skills-row-A {
    margin-bottom: 30px;
  }
  .flip-box {
    width: 155px;
    height: 155px;
    perspective: 1000px;
  }
  .flip-content h3 {
    color: #fefdf5;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin-top: 10px;
  }
  .flip-content p {
    padding: 10px;
    font-size: 0.8em;
    margin-top: -10px;
  }
  .skill-bar {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .skills-section {
    height: 475px;
    padding-top: 24px;
  }
  .skills-section h2 {
    width: 1000px;
    font-size: 1.7em;
    padding-bottom: 10px;
  }
  .skills-section .skills-tab {
    width: 1000px;
    height: 342px;
    padding: 20px;
  }
  .skills-section .skills-row-A {
    margin-bottom: 20px;
  }
  .flip-box {
    width: 140px;
    height: 140px;
    perspective: 1000px;
  }
  .flip-content img {
    max-width: 60%;
    height: auto;
  }
  .flip-content h3 {
    color: #fefdf5;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin-top: 10px;
  }
  .flip-content p {
    padding: 10px;
    font-size: 0.8em;
    margin-top: -10px;
  }
  .skill-bar {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .skills-section {
    height: 380px;
  }
  .skills-section h2 {
    width: 740px;
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .skills-section .skills-tab {
    width: 740px;
    height: 254px;
    padding: 10px;
  }
  .skills-section .skills-row-A {
    margin-bottom: 10px;
  }
  .flip-box {
    width: 110px;
    height: 110px;
    perspective: 740px;
  }
  .flip-content img {
    max-width: 60%;
    height: auto;
  }
  .flip-content h3 {
    color: #fefdf5;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    margin-top: 10px;
  }
  .flip-content p {
    padding: 10px;
    font-size: 0.6em;
    margin-top: -10px;
  }
  .skill-bar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 560px) and (max-width: 767px) {
  .skills-section {
    height: 740px;
  }
  .skills-section h2 {
    width: 90%;
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .skills-section .skills-tab {
    width: 90%;
    height: 640px;
    padding: 10px;
    padding-top: 20px;
  }
  .skills-section .skills-row-A {
    display: block;
    justify-content: space-between;
    width: 98%;
    padding-left: 2%;
  }
  .skills-section .skills-row-B {
    display: block;
    width: 98%;
    padding-left: 2%;
  }
  .flip-box {
    display: block;
    float: left;
    width: 31.3%;
    height: 140px;
    margin: 1%;
    perspective: 800px;
    overflow: hidden;
  }
  .flip-content img {
    max-width: 60%;
    height: auto;
  }
  .flip-content h3 {
    color: #fefdf5;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    margin-top: 10px;
  }
  .flip-content p {
    overflow: hidden; /* Cache le texte qui dépasse */
    max-height: 83px; /* Hauteur maximale avant que le texte ne soit coupé */
    padding: 10px; /* Garder le padding */
    font-size: 0.8em; /* Taille de police spécifiée */
    margin-top: -20px; /* Ajustement de la marge pour l'alignement */
  }
  .skill-bar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .skill-bar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 414px) and (max-width: 559px) {
  .skills-section {
    height: 650px;
  }
  .skills-section h2 {
    width: 300px;
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .skills-section .skills-tab {
    width: 90%;
    height: 550px;
    padding: 10px;
    padding-top: 20px;
  }
  .skills-section .skills-row-A {
    display: block;
    justify-content: space-between;
    width: 98%;
    padding-left: 2%;
  }
  .skills-section .skills-row-B {
    display: block;
    width: 98%;
    padding-left: 2%;
  }
  .flip-box {
    display: block;
    float: left;
    width: 31.3%;
    height: 120px;
    margin: 1%;
    perspective: 800px;
    overflow: hidden;
  }
  .flip-content img {
    max-width: 60%;
    height: auto;
  }
  .flip-content h3 {
    color: #fefdf5;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.6em;
    margin-top: 10px;
  }
  .flip-content p {
    overflow: hidden; /* Cache le texte qui dépasse */
    max-height: 83px; /* Hauteur maximale avant que le texte ne soit coupé */
    padding: 10px; /* Garder le padding */
    font-size: 0.6em; /* Taille de police spécifiée */
    margin-top: -20px; /* Ajustement de la marge pour l'alignement */
  }
  .skill-bar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .skill-bar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 413px) {
  .skills-section {
    height: 550px;
  }
  .skills-section h2 {
    width: 300px;
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .skills-section .skills-tab {
    width: 90%;
    height: 444px;
    padding: 10px;
  }
  .skills-section .skills-row-A {
    display: block;
    justify-content: space-between;
    width: 99%;
    padding-left: 3px;
  }
  .skills-section .skills-row-B {
    display: block;
    width: 99%;
    padding-left: 3px;
  }
  .flip-box {
    display: block;
    float: left;
    width: 31.325%;
    height: 100px;
    margin: 1%;
    perspective: 400px;
    overflow: hidden;
  }
  .flip-content img {
    max-width: 60%;
    height: auto;
  }
  .flip-content h3 {
    color: #fefdf5;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.6em;
    margin-top: 10px;
  }
  .flip-content p {
    overflow: hidden;
    max-height: 83px;
    padding: 10px;
    font-size: 0.5em;
    margin-top: -20px; /* Ajustement de la marge pour l'alignement */
  }
  .skill-bar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .skill-bar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
:root {
  --primary: #ffde01;
  --dark: #213740;
  --secondary: #1b292e;
  --darkmedium: #2d4349;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Section Formation */
.formation {
  background-color: rgb(248, 238, 178);
}
.formation h3 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: #1b292e;
}

.dark-mode .formation {
  background-color: #0d1416;
}

.dark-mode .formation h3 {
  color: #ffde01 !important;
  background-color: #0d1416;
}

.formation-header {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border-radius: 6px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #1b292e;
  text-align: center;
  color: #fefdf5;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.container h4 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  color: #fefdf5;
  padding-top: 10px;
}

/* Media queries */
@media (min-width: 768px) {
  .formation h3 {
    max-width: 1140px;
    padding-top: 50px;
    padding-left: 10px;
    font-size: 1.7em;
  }
  .formation-header {
    max-width: 1140px;
    margin-bottom: 50px;
  }
  .card {
    width: 24%;
    margin: 1%;
    padding: 10px;
  }
  .card img {
    max-width: 55%;
    margin-top: 10px;
  }
  h4 {
    font-size: 1.2em;
    padding-top: 10px;
  }
  p {
    font-size: 0.9em;
    padding: 10px 0px 25px 0px;
  }
}
@media (min-width: 414px) and (max-width: 767px) {
  .formation h3 {
    display: inline-block;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-left: 10px;
    font-size: 1.5em;
    text-align: center;
  }
  .formation-header {
    max-width: 90%;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  .card {
    width: 46%;
    margin: 2%;
    padding: 10px;
  }
  .card img {
    max-width: 55%;
    margin-top: 10px;
  }
  h4 {
    font-size: 1.2em;
    padding-top: 15px;
  }
  p {
    font-size: 0.9em;
    padding: 5px 0px 25px 0px;
  }
}
@media (max-width: 413px) {
  .formation h3 {
    padding-top: 50px;
    padding-left: 10px;
    font-size: 1.7em;
  }
  .formation-header {
    max-width: 90%;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
    margin: 1% 0;
  }
  .card img {
    max-width: 40%;
    margin-top: 25px;
  }
  h4 {
    font-size: 1em;
    padding-top: 15px;
  }
  p {
    font-size: 0.9em;
    padding: 5px 0px 25px 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
