//COLORS//
$primary: #ffde01;
$lightdark: #eecf00;
$lightmedium: #fbe864;
$superlight: #fefdf5;
$superlightmedium: #f4f1de;
$superlightdark: #e7e4d1;
$primarydark: rgb(248, 238, 178);

$secondary: #1b292e;
$dark: #213740;
$superdark: #0d1416;
$darkmedium: #2d4349;
$darkkmediumlight: #1e3239;
$darklight: #394d53;
$darkextralight: #637074;

:root {
  --primary: #ffde01;
  --dark: #213740;
  --secondary: #1b292e;
  --darkmedium: #2d4349;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
